.m {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.m_i {
    width: 80%;
}

.m_b {
    width: 100%;
    height: 500px;
    object-fit:cover;
    object-position: 0 35%;
}

.m_d {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
}

.m_dl {
    margin-right: 30px;
}

.m_p {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.m_dr {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;
}

.m_drt > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: .5rem;
}

.m_n {
    font-weight: 600;
    font-size: 3rem;
}

.m_v {
    margin-left: 1rem;
}

.m_gs {
    margin: 1.25rem 0;
}

.m_g {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
}


.m_drb {
    margin: 2rem 0;
    flex: 0.8;
}

.st {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
}
.st > div:last-of-type {
    margin-left: auto;
}

.m_l {
    position: relative;
    bottom: 120px;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.m_h {
    font-size: 2.2rem;
}

.movie__Button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 20px;
    cursor: pointer;
    width: 150px;
    color: black;
    font-weight: bold;
}

.movie__homeButton {
    background-color:rgb(255, 0, 0);
    
}

.movie__imdbButton {
    background-color:#f3ce13;
}

.newTab {
    margin-left: 1.4rem;
}

.m_p {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;
}


.m_pc {
    width: 200px;
    margin: 2rem;
}

.pci {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}